@import "tailwindcss";
@layer utilities {
  .font-fraunces {
    font-family: "Fraunces", serif;
  }

  .font-inter {
    font-family: "Inter", sans-serif;
  }

  .font-brains {
    font-family: "JetBrains Mono", monospace;
  }
}
